# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/
.venv/
dist/
build/
*.egg-info/

# Node / React / Electron
node_modules/
dist/
out/
.vite/
resources/backend/

# Banco
*.sqlite
*.db
*.db-shm
*.db-wal

# Env
.env
.env.local
.env.production

# IDE
.vscode/
.idea/
*.swp

# Data
*.csv
postgres_data/

# Debug / scratch
narr.json
*.narr.json

# OS
.DS_Store
Thumbs.db
