# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/
.venv/
dist/
build/
*.egg-info/

# Node / React
node_modules/
dist/
.vite/

# Banco
*.sqlite
*.db

# Env
.env
.env.local
.env.production

# IDE
.vscode/
.idea/
*.swp

# Data
*.csv
postgres_data/

# OS
.DS_Store
Thumbs.db
